<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690415707057-620ns9maqcv7pqcu8ehssvk8eronsbn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690415707057-620ns9maqcv7pqcu8ehssvk8eronsbn3</string>
	<key>API_KEY</key>
	<string>AIzaSyB-rk1HKV1hWugcP82GtZw7zAgPj171Pzg</string>
	<key>GCM_SENDER_ID</key>
	<string>690415707057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.higherthanme</string>
	<key>PROJECT_ID</key>
	<string>higherthanme-96f77</string>
	<key>STORAGE_BUCKET</key>
	<string>higherthanme-96f77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690415707057:ios:f699a16824a20602121390</string>
	<key>DATABASE_URL</key>
	<string>https://higherthanme-96f77.firebaseio.com</string>
</dict>
</plist>